.navItem {
    display: inline-block;
    margin-right: 50px;
    list-style: none;

    &Link {
        text-decoration: none;
        color: #000;

        &Active {
            font-weight: 700;
        }
    }
}